body{
    background-color: black;
    margin-right: 0px;
}
.logo {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 22px;
  color:white
}
.navbar {
    width: 98%;
    background-color:black;
    padding-left: 5px;
    padding-right: 5px;
    display: flex; 
    justify-content: space-between;
  }
  .nav-item a {
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
  }
  .nav-links {
    list-style: none;
    display: flex; 
  }
  .Main-Page{
    color: white;
    display: flex;
    justify-content: center;
  }